.container {
    background-color: #1b2838;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.home {
    background-color: #c7d5e0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
}
.button {
    padding: 10px;
    background-color: #c7d5e0;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
